body{
margin:0;
font-family:'Poppins',sans-serif;
background:linear-gradient(135deg,#f8fafc,#e2e8f0);
color:#1d1d1f;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(255,255,255,.75);
backdrop-filter:blur(15px);
box-shadow:
0 2px 20px rgba(0,0,0,.05);

position:sticky;
top:0;
}

.logo{
font-size:28px;
font-weight:700;
color:#1d1d1f;

text-shadow:
0 0 10px rgba(59,130,246,.5),
0 0 20px rgba(59,130,246,.3);
}

ul{
display:flex;
gap:30px;
list-style:none;
}

ul a{
text-decoration:none;
color:#1d1d1f;
font-weight:500;
}

ul a:hover{
color:#0071e3;
transition:.3s;
}

.hero{
padding:120px 20px;
text-align:center;
min-height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.hero h1{
font-size:82px;
font-weight:800;
margin-bottom:20px;
letter-spacing:-2px;
}

.tagline{
font-size:28px;
color:#38bdf8;
font-weight:600;
margin-bottom:20px;
}

.hero-text{
max-width:700px;
margin:auto;
font-size:20px;
line-height:1.8;
color:#4b5563;
margin-bottom:40px;
}

.btn{
display:inline-block;

padding:15px 35px;

background:#0071e3;

color:white;

border-radius:50px;

text-decoration:none;

font-weight:600;
  
box-shadow:0 10px 30px rgba(0,113,227,.35);

transition:.3s;
}

.btn:hover{
transform:scale(1.08);
box-shadow:0 10px 30px rgba(0,113,227,.4);
}
  
}
.clock-preview{
padding:80px 8%;
text-align:center;
}

.clock-preview h2{
font-size:42px;
margin-bottom:40px;
}

.clock-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.clock-card{
background:rgba(255,255,255,.8);
backdrop-filter:blur(12px);
padding:30px;
border-radius:20px;
box-shadow: 0 5px 15px rgba(0,0,0,.06);
transition:.3s;
border:1px solid rgba(255,255,255,.5);
}

.clock-card:hover{
transform: translateY(-6px);

.clock-card h3{
margin-bottom:15px;
}

.clock-card p{
font-size:24px;
font-weight:600;
color:#2563eb;
}
