body{
margin:0;
font-family:'Poppins',sans-serif;
background:linear-gradient(135deg,#0f172a,#1e3a8a,#7c3aed);
min-height:100vh;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(255,255,255,.05);
backdrop-filter:blur(15px);
}

.logo{
font-size:32px;
font-weight:800;
color:white;

text-shadow:
0 0 10px #38bdf8,
0 0 20px #38bdf8,
0 0 40px #38bdf8;
}

ul{
display:flex;
gap:30px;
list-style:none;
}

ul a{
color:white;
text-decoration:none;
font-weight:600;
transition:.3s;
}

ul a:hover{
color:#38bdf8;
}

.hero{
height:85vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:0 20px;
}

.hero-content{
max-width:900px;
}

.hero h1{
font-size:80px;
color:white;
margin-bottom:20px;

text-shadow:
0 0 15px rgba(255,255,255,.4);
}

.tagline{
font-size:28px;
color:#38bdf8;
font-weight:600;
margin-bottom:20px;
}

.hero-text{
font-size:20px;
line-height:1.8;
color:#e2e8f0;
margin-bottom:40px;
}

.btn{
display:inline-block;
padding:18px 40px;
background:white;
color:#2563eb;
font-weight:bold;
text-decoration:none;
border-radius:50px;
transition:.4s;
}

.btn:hover{
transform:translateY(-5px);
box-shadow:0 15px 40px rgba(255,255,255,.25);
}
